# Owners will be requested for
# review when someone opens a pull request.

# Global repo owners.
#    gdudley@aflac.com
#    @Aflac-Prod/claimspaymentsystem-team

# Any changes in pipeline is review by SCM team.
# /pipelines/ @Aflac-Prod/Aflac-Prod-Admin

# Everwell Angular Code Owners
ravindrajain@aflac.com
