<ng-container *ngIf="user.portal$ | async as portal">
    <nav class="primaryNav" *ngIf="user.credential$ | async as credential">
        <div *ngFor="let item of navItems">
            <a
                class="primaryNav-link"
                *ngIf="credential.producerId  && !credential.memberId && item.externalLink"
                routerLinkActive="primaryNav-link--active"
                [language]="item.lang"
                (click)="openTab(item.name, portal)"
                [ngClass]="{'primaryNav-link--active' : activeInOtherRoute(item.name)}"
                tabindex="0"
            >
            </a>
            <a
                class="primaryNav-link"
                *ngIf="!item.externalLink && credential.producerId  && !credential.memberId && item.name !== 'team'"
                [routerLink]="[portal, item.name]"
                routerLinkActive="primaryNav-link--active"
                language="{{item.lang}}"
                (click)="openTab(item.name, portal)"
                [ngClass]="{'primaryNav-link--active' : activeInOtherRoute(item.name)}"
                tabindex="0"
            >
            </a>
            <ng-container *isRestricted="permission.ACCOUNT_RESTRICT_READ_TEAM">
                <a
                    class="primaryNav-link"
                    *ngIf="credential.producerId && !credential.memberId && item.name === 'team' && showTeamTabFlag"
                    [routerLink]="[portal, item.name]"
                    routerLinkActive="primaryNav-link--active"
                    language="{{item.lang}}"
                    tabindex="0"
                ></a>
            </ng-container>
        </div>
        <a
            class="primaryNav-link mon-btn-pulldown-wrapper"
            [matMenuTriggerFor]="menu"
            *ngIf="credential.producerId && !credential.memberId && this.menuItems.length > 0"
            [attr.tabindex]="0"
            #clickMenu="matMenuTrigger"
            [ngClass]="{'primaryNav-link--active' : isMenuActive()}"
            tabindex="0"
            (keyup.enter)="moreOptionsTrigger.openMenu()"
            (keyup.Space)="moreOptionsTrigger.openMenu()"
        >
            <span language="primary.portal.primaryNav.more"></span
            ><mon-icon
                class="mon-btn-pulldown-indicator"
                iconName="down"
                iconSize="10"
                aria-hidden="true"
                class="icon-white"
            ></mon-icon
        ></a>
    </nav>

    <mat-menu #menu="matMenu" xPosition="before">
        <div *ngFor="let item of menuItems">
            <ng-container *ngIf="item.name!='account-landing-pages';else accountLandingPage">
                <a mat-menu-item [routerLink]="[portal, item.name]" language="{{item.lang}}" tabindex="0"></a>
            </ng-container>
            <ng-template #accountLandingPage>
                <a mat-menu-item href="{{accountLandingPageUrl$ | async}}" target="_blank" language="{{item.lang}}">
                </a>
            </ng-template>
        </div>
    </mat-menu>
</ng-container>
