<empowered-modal type="POPUP" size="MD" [showCancel]="true" class="exit-site-modal">
    <empowered-modal-header>
        <span language="primary.portal.shoppingExperience.leaveSiteTitle"></span>
    </empowered-modal-header>
    <p language="primary.portal.accessibilityStatement.exitStatement"></p>
    <empowered-modal-footer class="empowered-footer">
        <button
            cdkFocusInitial
            class="mon-btn-primary continue-to-aflac"
            mat-dialog-close="true"
            mat-flat-button
            (click)="navigateExit()"
        >
            <span language="primary.primary.portal.accessibilityStatement.continueToAflac"></span>
            <mon-icon iconSize="18" iconName="Icon-right-white" class="icon-exit"></mon-icon>
        </button>
    </empowered-modal-footer>
</empowered-modal>
