@import "shared";
.icon-exit {
    display: inline-flex;
}

.exit-site-modal {
    ::ng-deep {
        .mat-dialog-content {
            padding-left: map-get($spacers, 50);
            padding-top: map-get($spacers, 0);
        }
    }
}
